</div>
<footer class="footer">
    <img src="/images/logoFooter.png" style="width:107px; height: 22px; margin-left: 25px;">
    <br>
    <br>
    <div style="background-color: #dbb260; width: 105% ; height: 10px; margin-left: -20px;">
    </div>
</footer>
</div>
</body>

</html>