// Colores de Alfa3C
$azul: #204F7B;
$negro: #101010;
$dorado: #DBB260;
$blanco: #F0ECE4;
$gris-claro: #D6D6D6;
$gris-mediano: #E1E1E1;

@use "bulma/bulma" with (
  $family-primary: '"Roboto", sans-serif',
  $family-sans-serif: '"Roboto", sans-serif',
  $grey-dark: $gris-mediano,
  $grey-light: $gris-claro,
  $primary: $dorado,
  $link: $azul,
  $danger: $azul,
  $info: $negro,
  $subtitle-color: $negro,
  $text-strong: $negro,
  $control-border-width: 2px,
  $input-border-color: transparent,
  $input-shadow: none,
  $body-background-color: $blanco,
  $footer-background-color: $blanco,
  $navbar-background-color: $azul,
  $navbar-item-color: $blanco, 
  $navbar-dropdown-arrow: $blanco
);

.button.is-transparent-primary {
  background-color: transparent;   
  border: 2px solid bulma.$primary; 
  color: $blanco;     
  border-radius: 8px;    
  border-width: 3px;    

  &:hover {
    background-color: bulma.$primary;  
    color: $blanco;  
    border-color: $blanco; 
  }
}

.button.is-transparent-link {
  background-color: transparent;   
  border: 2px solid bulma.$link; 
  color: $blanco;     
  border-radius: 8px;    
  border-width: 3px;    

  &:hover {
    background-color: bulma.$link;
    color: $blanco; 
    border-color: $blanco;
  }
}

.button.is-transparent-info {
  background-color: transparent;   
  border: 2px solid bulma.$info; 
  color: $blanco;     
  border-radius: 8px;    
  border-width: 3px;    

  &:hover {
    background-color: bulma.$info;  
    color: $blanco;  
    border-color: $blanco;
  }
}

.navbar-start .navbar-item, .navbar-link {
  border-bottom: 2px solid transparent; 
  transition: border-bottom 0.2s ease, color 0.2s ease;

  &:hover {
    border-bottom: 2px solid $dorado;
    color: $blanco !important;
    background-color: transparent !important; 
  }

}

.navbar-dropdown .navbar-item {
  color: $negro;
  
  &:hover {
    color: $dorado !important; 
  }
}

p {
  color: $negro !important;
}

*,
input,
select,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garantiza que el contenedor ocupe toda la altura de la ventana */
}

.section {
  flex-grow: 1; /* El contenido principal se expandirá para llenar el espacio disponible */
}

.footer {
  padding: 1rem;
  flex-shrink: 0; /* Asegura que el footer no se encoja */
}

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
  border-radius: 4px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}

.ui-widget {
  padding: 10px 15px; 
  margin: 2px 0;
}

.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: none;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  max-height: 300px; 
  overflow-y: auto; 
  z-index: 1000;
}

.ui-menu-item {
  margin: 0;
}

.ui-menu-item .ui-menu-item-wrapper {
  padding: 10px 15px; 
  font-size: 1rem; 
  margin: 0;
  box-sizing: border-box; 
  width: 100%; 
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  background-color: $azul;
  color: $blanco;
  border-color: $negro;
  transition: background-color 0.3s ease;
}

.tabs.is-boxed a {
  color: $negro;
}

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");