<head></head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Alfa3C Pagos</title>
<link rel="stylesheet" href="/css/alfa3C.css">
</head>

<body>
    <div class="wrapper is-flex is-flex-direction-column">
        <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation"
            style="height: 100px; padding: 20px;">
            <div class="navbar-brand">
                <img src="/images/iconoBlanco.png" style="height: 60px;">
            </div>
        </nav>
    <div class="column" style="padding-top: 7em;">

    <section class="section">
        <div class="container">
            <h3 id="title" class="title">RESTABLECER CONTRASEÑA</h3>
            <form action="/auth/reset_password" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input required id="correo" class="input" name="correo" style="width: 300px;"
                    placeholder="Correo del usuario">
                <div style="margin-top: 15px;">
                    <button id="guardarBtn" type="submit" class="button is-primary" disabled>Mandar Correo</button>
                </div>
            </form>
        </div>
    </section>
</body>
<script type="text/javascript" src="/js/resetPassword.js"></script>
<%- include('includes/foot.ejs') %>

</html>