<head></head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Alfa3C Pagos</title>
<link rel="stylesheet" href="/css/alfa3C.css">
</head>

<body></body>
<div class="wrapper is-flex is-flex-direction-column">
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation"
        style="height: 100px; padding: 20px;">
        <div class="navbar-brand">
            <img src="/images/iconoBlanco.png" style="height: 60px;">
        </div>
    </nav>
    <div class="column" style="padding-top: 7em;">

        <body>
            <section class="section">
                <div class="container">
                    <h3 id="title" class="title"> Establecer Contraseña</h3>
                    <form action="/auth/set_password" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="token" value="<%= token %>">
                        <input type="hidden" name="matricula" value="<%= matricula %>">
                        <!-- Campo oculto con la matrícula -->
                        <div class="field">
                            <div class="control has-icons-left">
                                <input required class="input" type="password" name="newPassword" id="password"
                                    placeholder="" />
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                                <label style="color: black;">
                                    <input type="checkbox" id="togglePassword" name="togglePassword"
                                        style="margin-right: 5px;">
                                    Mostrar contraseña
                                </label>
                            </div>
                        </div>

                        <div style="margin-top: 15px;">
                            <button type="submit" class="button is-primary">Guardar Contraseña</button>
                        </div>
                    </form>
                </div>
            </section>
        </body>

        <%- include('includes/foot.ejs') %>

            </html>