<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alfa3C Pagos</title>
    <link rel="stylesheet" href="/css/alfa3C.css">
    <link href="/css/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="/css/fontawesome/css/solid.min.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper is-flex is-flex-direction-column">
        <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation"
            style="height: 100px; padding: 20px;">
            <div class="navbar-brand">
                <img src="/images/iconoBlanco.png" style="height: 60px;">
            </div>
        </nav>
        <div class="column" style="padding-top: 7em;">
            <section class="section">
                <div class="container">
                    <h3 id="title" class="title"> Establecer Contraseña</h3>
                    <form action="/auth/set_password" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="token" value="<%= token %>">
                        <input type="hidden" name="matricula" value="<%= matricula %>">

                        <!-- Campo de contraseña con el ícono de mostrar/ocultar -->
                        <div style="display: flex; align-items: center;">
                            <input required class="input" type="password" name="password" id="password"
                                style="width: 300px; margin-right: 10px;" />
                            <label style="color: black;">
                                <input type="checkbox" id="togglePassword" name="togglePassword"
                                    style="display:none;">
                                <i class="fas fa-eye-slash" id="togglePasswordIcon" style="cursor: pointer;"></i>
                            </label>
                        </div>

                        <div style="margin-top: 15px;">
                            <button type="submit" class="button is-primary">Guardar Contraseña</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>

        <script type="text/javascript" src="/js/setPassword.js"></script>
        <%- include('includes/foot.ejs') %>
    </div>
</body>

</html>