<%- include('../includes/head.ejs', { permisos: permisos, rol: rol}) %>

<style>
    h1 {
        font-weight: bold;
        color: #204F7B;
        font-size: 25px;
    }
</style>

<body>
    <h1> Contratos </h1>
</body>

<%- include('../includes/foot.ejs') %>