<%- include('../includes/head.ejs', { permisos: permisos, rol: rol }) %>

<style>
    .form-container {
        max-width: 600px;
        margin: 40px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    h1 {
        font-weight: bold;
        color: #204F7B;
        text-align: center;
        font-size: 25px;
    }
    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
        color: black;
    }
    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .form-group {
        margin-bottom: 15px;
    }

    /* Estilo del mensaje de advertencia */
    #errorMessage {
        color: #204F7B;
        font-size: 0.9em;
        margin-top: 10px;
        margin-left: 10px;
        display: none; /* Oculto por defecto */
    }
</style>

<body>

    <div class="form-container">
        <h1>Ingresa Datos del Contrato</h1>
        <form action="/contrato/registrarContrato" method="POST">
            <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
            
            <div class="form-group">
                <label for="razonSocial">Razón Social:</label>
                <input type="text" id="razonSocial" name="razonSocial" class="inputField" required>
            </div>
            
            <div class="form-group">
                <label for="nombreEmpresa">Nombre de la Empresa:</label>
                <input type="text" id="nombreEmpresa" name="nombreEmpresa" class="inputField" required>
            </div>

            <div class="form-group">
                <label for="titulo">Título del Contrato:</label>
                <input type="text" id="titulo" name="titulo" class="inputField" required>
            </div>
            
            <div class="form-group">
                <label for="numMeses">Número de Meses:</label>
                <input type="number" id="numMeses" name="numMeses" class="inputField" required>
            </div>

            <!-- Contenedor del botón y el mensaje -->
            <div style="display: flex; align-items: center;">
                <button id="submitBtn" type="submit" class="button is-primary" disabled>Registrar Contrato</button>
                <span id="errorMessage">Por favor ingresa correctamente todos los datos</span>
            </div>
        </form>
    </div>

</body>

<script type="text/javascript" src="/js/registrarContrato.js"></script>
<%- include('../includes/foot.ejs') %>
